# don't use  in patterns unless absolutely necessary
# for more information
# $ git help gitignore
.classpath
.metadata
data
bin
doc
BlastImplementation/project_data/temp_output*
BlastImplementation/project_data/blast_input*
# for Mac users
.DS_Store
