# don't use  in patterns unless absolutely necessary
# for more information
# $ git help gitignore
.classpath
.metadata
data
bin
doc
BlastImplementation/temp_output.tsv

# for Mac users
.DS_Store
